.imagewrap {width:1300px;
    height:800px;
    overflow:hidden;
    position:absolute;
    top:0px;
    left:0px;
    background-color:rgba(195, 12, 110, 0.8);
    z-index:-5;
}
.blue {height:500px; 
    width:500px; 
    border-radius:500px;
    background-color:rgba(45, 206, 219, 0.58);
    position:absolute;
    top:-100px;
    left:-100px;
}

.blue2 {height:300px; 
    width:300px; 
    border-radius:500px;
    position: absolute;
    background-color:rgba(149, 15, 181, 0.55);
    position:a;
    top:-100px;
    left:-100px;
    z-index:1;
   
}


.blue3 {height:200px; 
    width:200px; 
    border-radius:500px;
    background-color:rgba(195, 12, 110, 0.8);
    position:absolute;
    top:-100px;
    left:-100px;
    z-index:2;

}
.blue4 {height:700px; 
    width:700px; 
    border-radius:500px;
    position: absolute;
    background-color:rgba(149, 15, 181, 0.55);
    top:-100px;
    left:-100px;
    z-index:-1;
}

.blue5 {height:900px; 
    width:900px; 
    border-radius:500px;
    position: absolute;
    background-color:rgba(45, 206, 219, 0.58);
    top:-100px;
    left:-100px;
    z-index:-2;
}

.blue6 {height:1100px; 
    width:1100px; 
    border-radius:600px;
    position: absolute;
    background-color:rgba(195, 12, 110, 0.8);
    top:-100px;
    left:-100px;
    z-index:-3;
}

.blue7 {height:1300px; 
    width:1300px; 
    border-radius:700px;
    position: absolute;
    background-color:rgba(45, 206, 219, 0.58);
    top:-100px;
    left:-100px;
    z-index:-4;
}
.white {height:80px; 
    width:200px; 
    border-radius:500px;
    background-color:white;
    position:relative;
    top:-70px;
    left:100px;
    z-index:2;
    float:left;
    margin-right:100px;
    margin-bottom:100px;

}
.white:hover{background-color:green;}




