body{width:1500px}
.imagewrap {overflow:hidden;
    height:592px;
    width:1000px;
    position:absolute;
    top:0px;
    left:0px;
}
.body {background-color:rgb(111, 196, 38);
        height:600px;
        width:1000px;
        position:absolute;
        top:0px;
        left:0px;
        }
.bar{width:1000px;
    height:10px;
    background-color:#12e2f4;
    position:relative;
    top:0px;
    margin-bottom:35px}
.bartwo {width:1000px;
    height:10px;
    background-color:#ffff37;
    position:relative;
    top:-540px;
    margin-bottom:35px;
    opacity:0;}
.bartwo:hover {opacity:1;}

.new7 {height:600px;
    width: 10px;
    background-color:#ffff37;
    -webkit-transform:skewX(-45deg);
    position:relative;
    margin-right:35px;
    top:0px;
    left: -200px;
    float:left;
    z-index:2;
    }
.new8 {height:600px;
    width: 10px;
    background-color:#12e2f4;
    -webkit-transform:skewX(-45deg);
    position:relative;
    margin-right:35px;
    top:-600px;
    left: -200px;
    float:left;
    opacity:0;
    z-index:3;}

.new8:hover {opacity:1;}
.circles{
    height:100px;
    width:100px;
    border:10px solid; color:#332a74;
    position:relative;
    top:-1250px;
    left:20px;
    float:left;
    margin-right:20px;
    margin-bottom:20px;
}




