/*font-family: 'Kablammo', cursive;*/
/*font-family: 'Orbit', sans-serif;*/

/*HTML Elements*/
body {
    background-color: plum;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-family: 'Orbit', sans-serif
}

/*Text*/
h1, h2, h3, header p, footer p {
    text-align: center;
}

h1 {
    margin-top: 0;
}

hr {
    margin: 2em 0em;
    opacity: 0;
}

h1, h2 {
    font-family: 'Kablammo', cursive;
}

/*Semantics*/
header, main section, footer {
    padding: 1em;
    margin: 1em;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.422);
}

header {
    background-color: aqua;
    border-radius: 0% 0% 50% 50%;
    padding-bottom: 2em;
}
main section {
    border-radius: 0% 50% 50% 0;
}

main {
    margin: 3em 0em;
}

footer {
    background-color: lightgoldenrodyellow;
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.422);
    border-radius: 50% 50% 0% 0%;
    padding-bottom: 2em;
    margin-top: 2em;
}


/*Classes*/

.icon {
    width: 100px;
    height: 100px;
    background-color: #ffff37;
    border-radius: 50%;
    margin: 0 auto 1em auto;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.422);

}

footer .icon {
    background-color: #332a74;
}
.two-thirteen {
    background-color: yellow;
}

.two-twenty-three {
    background-color: greenyellow
}
