body{
    background: black;
  }

  /* Grid */
  .web-line {
    display:grid; 
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
  }

  
  /* Web Pattern */
  .box-canvas{
    position: relative;
    display: block;
    width: 325px;
    height:350px;
    justify-self: center;
    transform: rotate(90deg);
  }
  
  .inner {
    margin: 100px;
    position: absolute;
    height: 100px;
    width: 150px;
  }
  
  .circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 4px 0 0 white;
  }
  
  .circle:nth-child(1) {
    bottom: 0;
    transform: rotate(-45deg);
  }
  
  .circle:nth-child(2) {
    bottom: -25px;
    left: 50px;
    transform: rotate(-90deg);
  }
  
  .circle:nth-child(3) {
    bottom: 0;
    left: 100px;
    transform: rotate(-135deg);
  }
  
  .circle:nth-child(4) {
    top: -8px;
    transform: rotate(45deg);
  }
  
  .circle:nth-child(5) {
    top: -33px;
    left: 50px;
    transform: rotate(90deg);
  }
  
  .circle:nth-child(6) {
    top: -8px;
    left: 100px;
    transform: rotate(135deg);
  }
  
  .circle::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 4px 0 0 white;
    left: -100px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .circle:nth-child(1)::before {
    top: calc(50% - 20px);
  }
  
  .circle:nth-child(3)::before {
    top: calc(50% + 20px);
  }
  
  .circle:nth-child(4)::before {
    top: calc(50% + 20px);
  }
  
  .circle:nth-child(6)::before {
    top: calc(50% - 20px);
  }
  
  .line {
    position: absolute;
    width: 340px;
    height: 3px;
    background: white;
   
  }
  
  .line:nth-child(2) {
    transform: rotate(59deg);
    transform-origin: top left;
    left: 90px;
  }
  
  .line:nth-child(3) {
    transform: rotate(-59deg);
    transform-origin: top right;
    left: -80px;
  }
  
  .line:nth-child(4) {
   top: 145px;
  }
